.search-bar-container {
  width: 100%;
  background-color: #09b5ab;
  margin-bottom: 2em;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.zolando-container {
  width: 100%;
  text-align: center;
}

.sort {
  width: calc(100%/7);
  display: inline-block;
  margin-top: 1em;
}

.sorted {
  width: calc(100%/7);
  display: inline-block;
  margin-top: 1em;
  color: #09b5ab;
}

.search-bar {
  width: 40%;
  margin: 1em auto;
}

.filtered-list {
  padding: 0.5em;
  background-color: white;
}
.filtered-items {
  width: 90%;
  background-color: #D6EBF2;
  border: solid 1px;
  border-color: black;
  padding: 0.5em;
  margin: auto;
  margin-bottom: 1em;
}

.even {
  background-color: rgba(197, 227, 226, 0.7);
}
.odd {
  background-color: rgba(197, 227, 226, 0.3);
}

.filtered-items div {
  display: inline-block;
  width: calc(100%/7);
  margin-top: 1em;
  color: black;
  text-align: left;
  vertical-align: middle;
  padding: 0.5em;
}

.filtered-items p {
  text-align: left;
  margin-bottom: 0px;
}

.ui.form.zolando-filters {
  width: 100%;
}

.filter-section {
  color: #47C2BF;
  width: calc(90%/8);
  display: inline-block;
  padding: 0.5em;
  vertical-align: top;
}

.field div{
  width: 100%;
}

a.ui.label{
  width: 100%;
}

.clear {
  width: 100%;
  text-decoration: underline;
  text-align: center;
}

.clear:hover{
  cursor: pointer;
}

.excel {
  width: 100%;
  text-align: right;
  margin-bottom: 1em;
}

.sort-buttons {
  width: 100%;
}

.filter-text {
  text-align: center;
  color: #09b5ab;
}

.brand-name {
  text-decoration: underline;
}

.no-results {
  color: red;
  text-align: center;
  margin: 3em;
  padding: 3em;
}

.sort-buttons {
  width: 90%;
  margin: auto;
  text-align: left;
}

.sort-active {
  color: #09b5ab;
  background-color: white;
}

.sort-active:hover {
  color: #09b5ab;
  background-color: white;
}

.sort-inactive {
  color: grey;
  background-color: white;
  text-align: left;
}

.sort-inactive:hover{
  color: grey;
  background-color: white;
}

.delete.icon {
  float: right;
}
