.body {
  color: #5D5D5D;
  font-size: 14px;
}

.brand-container {
  display: flex;
}

.brand-cover-container {
  display: flex;
  width: 100%;
  background-size: cover;
}

.brand-cover-container div {
  height: 240px;
  margin: auto;
  width: 100%;
}

.brand-name-container {
  width: 80%;
  color: white;
  margin: auto;
  z-index: 100;
  text-decoration: underline;
}

.brand-name-container p {
  width: max-content;
  background-color: rgba(0, 0, 0, 0.2);
}

.cover-overlay {
  height: 240px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-top: -240px;
}

.brand-cover-image {
  background-size: cover;
}

.brand-page {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 80%;
  margin-top: -160px;
}

.brand-nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1036px;
  font-size: 18px;
}

.brand-card {
    display: flex;
    background: #FFFFFF;
    align-items: center;
    margin: 10px;
    padding: 34px;
    font-size: 14px;
    max-width: 1036px;
}

.brand-home {
  flex: 2;
  padding-top: 30px;
}

.brand-details {
  flex: 4;
  padding: 0px 150px 0px 69px;
  /* margin-top: -125px; */
}

.brand-title {
  font-size: 26px;
  color: #09B5AB;
  margin-top: 7px;
}


.brand-hq {
  font-size: 14px;
  color: #09B5AB;
  margin-top: 7px;
  margin-bottom: 5px;
}

.web {
  color: #09B5AB;
  text-decoration: underline;
}

a.web:hover {
  color: rgb(61, 59, 59);
}

a.contact-email {
  color: #09B5AB;
}

.contact-email:hover {
  color: #FFFFFF;
}

.item {
  font-size: 16px;
  width: 300px;
}
.brand-sentence {
  font-size: 16px;
}

.card-title {
  align-items: flex-start;
  font-size: 24px;
  color: #09B5AB;
  padding-bottom: 22px;
}

.card-content {
  display: flex;
}

.card-content > * {
  flex: 1 100%;
}

.brand-logo {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-top: -30px;
  margin-bottom: 30px;
}

.brand-info {
  flex: 1;
}

.item {
  padding: 20px;
}

.brand-ratings {
  display: flex;
  flex: 1 1 100%;
}

.total-score {
  justify-content: center;
}

.brand-info {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.table-details {
  border-collapse: collapse;
  width: 100%;
}

.table-details td, .table-details th{
  border-bottom: 1px solid #ddd;
  padding: 15px;
  width: 100px;
  font-size: 16px;
}

.table-details tr:hover {
  background-color: #ddd;
}

.table-ratings {
  border-collapse: collapse;
  width: 100%;
}

.table-ratings td, .table-ratings th{
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.table-ratings tr:hover {
  background-color: #ddd;
}

.back-to-search {
  text-decoration: underline;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.back-to-search a {
  z-index: 100;
  color: white !important;
}
.back-to-search a:hover {
  color: #09B5AB;
}

.last-update {
  margin: 10px 0px 70px 0px;
  padding-left: 10px;
  color: #95989A;
}


.dots-space {
  margin-left: 7px;
}

.brand-ratings {
  display: flex;
  flex-direction: column;
}

.brand-ratings > * {
  flex: 1 100%;
}

.cause {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.nav-button {
  border: none;
  padding: 0em;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0)
  
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0)
}
