.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px gray solid;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}

.button {
  text-align: center;
}
.title {
  color: white;
  margin-bottom: 4em;
}

.more-info {
  margin-top: 4em;
  margin-bottom: 4em;
}

.more-info p {
  color: white;
  text-align: center;
  text-decoration: underline;
}

.more-info h4 {
  color: white;
  text-align: center;
}
