.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px gray solid;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}

.title {
  color: #09b5ab;
}
