.brand-row {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  border-bottom: solid 1px #00695C;
}

.view-button {
    background-color: #09b5ab;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
