
.cause-content {
  width: calc(92%/2);
  border-bottom: 1px solid #ddd;
  margin-top: 1em;
  margin-right: 2em;
}

.cause-item {
  display: flex;
}

.cause-name {
  flex: 1;
}

.cause-value {
  flex: 1;
}
