
.cause-content {
  width: calc(96%/2);
  border-bottom: 1px solid #ddd;
  padding: 15px 0px;
}

.cause-content:nth-child(even) {
  margin-left: 20px;
}

.cause-item {
  display: flex;
}

.cause-name {
  flex: 1;
}

.cause-value {
  flex: 1;
}
