.container-body {
  height: 100%;
  display: flex;
  width: 100%;
  flex: 1 0 auto;
  min-height: calc(100vh - 120px);
  justify-content: center;
  background-color: #F2F2F2;
  padding: 0;
}

@media (min-width: 960px) {
  .app {
    width: 75%;
    min-width: 960px;
  }
}


button {
  margin: 1em;
  padding: 0.5em 1em;
  font-size: 1.3em;
  border: none;
  color: white;
  background-color: #17CABE;
  border-radius: 40px;
  align: right;
}

.button-container {
  width: 100%,
}

.button-container div {
  margin-top: 2em;
  width: calc(100%/2);
}
.cancel {
  background-color: maroon;
}

button:hover {
  cursor: pointer;
  background-color: #2D2D2F;
  color: #17CABE;
}

h5, p, ul, li {
  text-align: left;
  margin-top: 0.5em;
}




/*Common classNames*/
.goy-color {
  color: #6ac1bf;
}

.row {
  display: flex;
  flex-direction: row;
}

.bold {
  font-size: 18px;
  font-weight: bold;
}

.brand-form {
  margin-top: 1em;
  width: 80%;
}
.brand-form li {
  display: block;
  list-style-type: none;
}

.form-container {
  width:80%;
}

.editing {
  width: 100%;
  background-color: white;
  padding: 2em;
}

.not-editing {
  width: 100%;
  background-color: #F2F2F2;
  padding: 2em;
}

.ui.form {
  margin-top: 1em;
  width: 80%;
}

.chip {
    display: inline-block;
    color: black;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 0.5em;
}
.chip-selected {
    display: inline-block;
    color: black;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #17CABE;
    margin: 0.5em;
}


.summary-button {
  width: 100%;
  text-align: left
}

.form-navigation div{
  margin-top: 1em;
  width: calc(100%/3);
}
.form-navigation h3 {
  text-align: center;
  padding: 1em;
}

.previous {
  float:left;
}

.next {
  float:right;
}

.divider {
  width: 100%;
  height: 0.2em;
  margin-top: 1em;
  display: inline-block;
  background-color: #17CABE;
}

.small-divider {
    width: 100%;
    height: 0.1em;
    margin-top: 1em;
    display: inline-block;
    background-color: #17CABE;
}

.error-message {
  color: red;
}

.rating-header {
  width: 100%;
}

.field {
  margin-top: 0.5em;
}
