.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 0 0 auto;
  position: relative;
  background-color: #2D2D2F;
  height: 50px;
  color: #939393;
  text-align: center;

}

.footer-links {

}

.footer-tm {
  display: inline-block;
  color: #939393;
  font-weight: 300;
  font-size: 12px;
}
