
.forms-header {
  width:100%;
}

.forms-header button {
  margin-top: 2em;
}

.forms-header div {
  margin-top: 1em;
  float: left;
  width: calc(100%/7);
  color: #17CABE;
  font-weight: bold;
  text-align: center;
}

.divider {
  width: 100%;
  height: 0.1em;
  margin-top: 2em;
  display: inline-block;
  background-color: #17CABE;
}
