
.forms-header {
  width:100%;
}

.forms-header button {
  margin-top: 2em;
}

.forms-header div {
  margin-top: 1em;
  float: left;
  width: calc(100%/7);
  color: #17CABE;
  font-weight: bold;
  text-align: center;
}
