
.summary-view {
  width: 100%;
  padding-left: 2em;
}

.summary-view div {
  display: inline-block;
  width: calc(80%/3);
}

.progress {
  float: right;
}

.summary-view button {
  text-align: right;
}

.summary-heading {
  margin-top: 1em;
}

.summary-heading h1 {
  display: inline-block;
  margin-left: 1em;
  color: #17CABE;
}

.summary-heading h5 {
  display: inline-block;
  margin-left: 1em;
  color: #17CABE
}

.summary-container {
  width: 80%;
}

.show-summary {
  width: 100%;
  display: block;
}

.hide-summary {
  display: none;
}

.rating-summary {
  width: 100% !important;
}

.rating-summary div {
  width: calc(100%/4);
}

.status-header {
  width: 100%;
  margin: 3em 0em;
}

.status-header div {
  display: inline-block;
  width: calc(100%/11);
}

.landing-brand {
  vertical-align: top;
}

.landing-status {
  padding: 2em;
}

.landing-header span {
  width: calc(100%/2);
  display: inline-block;
}
